.dropdown{
    display: none;
}
@media(max-width: 980px){
    .dropdown{
        display: block;
        background: rgb(75, 130, 142);
        text-align: center;
    }
    .dropdown a{
        color: rgb(255, 255, 255);
        line-height: 30px;
        text-decoration: none;
    }
    .dropdown i{
        font-size: 20px;
    }
    .dropdown .dropdown-content{
        display: none;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
  
li{list-style: none;}
    
    
}



